@{
    ViewData["Title"] = "MVC";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Metadata principal -->
    <meta name="description"
          content="Aplicación CRUD desarrollada con .NET MVC y Razor Pages. Gestiona usuarios con operaciones de crear, leer, actualizar y eliminar. Ideal para aprender conceptos básicos de MVC y Razor.">
    <meta name="keywords"
          content="CRUD .NET, MVC, Razor Pages, Bootstrap, Desarrollo Web, Backend, Proyecto Educativo, Operaciones CRUD">
    <meta name="author" content="Javier Cómbita Téllez">
    <meta name="sitedomain" content="https://jcomte23.com">
    <meta name="organization" content="jcomte23">
    <meta name="designer" content="Javier Cómbita Téllez">
    <meta name="copyright" content="©2025 Javier Cómbita Téllez. Todos los derechos reservados">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="revisit-after" content="7 days">

    <!-- Open Graph -->
    <meta property="og:site_name" content="CRUD MVC .NET">
    <meta property="og:url" content="http://localhost:5012/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CRUD MVC con .NET y Razor Pages">
    <meta property="og:description"
          content="Aplicación CRUD desarrollada con .NET MVC y Razor Pages. Aprende a manejar operaciones de usuarios usando un enfoque educativo y práctico.">
    <meta property="og:locale" content="es_ES">
    <meta property="og:image" content="http://localhost:5012/images/crud-mvc.webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="CRUD MVC con .NET y Razor Pages">
    <meta name="twitter:description"
          content="Aplicación CRUD desarrollada con .NET MVC y Razor Pages. Aprende a manejar operaciones de usuarios usando un enfoque educativo y práctico.">
    <meta name="twitter:image" content="http://localhost:5012//images/crud-mvc.webp">
    <meta name="twitter:creator" content="jcomte23">
    <meta name="twitter:site" content="jcomte23">
    <meta name="twitter:url" content="http://localhost:5012/">

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.svg" type="image/svg+xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Título dinámico -->
    <title>@ViewData["Title"]</title>
    
    <!-- CSS y librerías -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/CRUD_MVC_users.styles.css" asp-append-version="true"/> *@
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand text-capitalize" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/Net.jpg" alt="Logo" style="height: 60px;"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Users</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="py-4">
    <div class="container text-center">
        <p>© 2025 Javier Cómbita Téllez. All rights reserved.</p>
        <p>
            Connect with me on:
            <a href="https://www.linkedin.com/in/javier-c%C3%B3mbita-t%C3%A9llez-4b4aa3258/" target="_blank"
               class="text-decoration-none">LinkedIn</a> |
            <a href="https://github.com/jcomte23" target="_blank" class="text-decoration-none">GitHub</a>
        </p>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>